<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		 {{ partial "head.html" . }}

		<div class="section">
			<!--h2 class="title">Recent posts</h2-->
			<div class="markdown">
                {{ .Site.Params.iwb | markdownify }} 
                <p><a href="RNA-Seq_file_format_practicals_2019/RNA-Seq_file_format_practicals_2019.nb.html">RNA-Seq file formats practical</a></p>
            </div>
		</div>
	</div>
		 {{ partial "footer.html" . }}
</body>
</html>
